*.dll
*.exe
*.pdb
Local.testsettings
TraceAndtestImpact.testsettings
Parseq.vsmdi
Parseq.suo
Parseq/obj/
Parseq/obj/*/
Parseq.Test/obj
Parseq.Test/obj/*/
Parseq/bin/
Parseq/bin/*/
Parseq.Test/bin/
Parseq.Test/bin/*